<?xml version="1.0" encoding="utf-8"?>

<!-- Pour plus d'informations sur l'utilisation de la transformation Web.config, visitez https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

 <connectionstrings>
   <add name="DefaultConnection" connectionString="Server=tcp:serveurmic.database.windows.net,1433;Initial Catalog=ChatBot;Persist Security Info=False;User ID=mic;Password=@Bt2018@;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />

   </connectionstrings> 
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Dans l'exemple ci-dessous, la transformation « Replace » remplacera toute la
      <customErrors> section de votre fichier Web.config.
      Dans la mesure où il n'y a qu'une section customErrors sous le
      <system.web> nœud, il n'est pas nécessaire d'utiliser l'attribut « xdt:Locator ».

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
